
/* Config Global */
*{
    /* border: solid red 5px; */
    margin: 0px;
    padding: 0px;
    background-color: rgb(200, 200, 200);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 2px red; */
    padding: 50px;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: solid 2px red; */
    width: 1200px;
    height: 675px;
}

.p1{
    display: flex;
    align-items: center;
    background-color: white;
    /* border: solid 2px red; */
    margin: 20px;
    width: 800px;
    height: 100px;

    /* Animação */
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}

.p1_text{
    background-color: white;
    color: #3e3e3e;
    font-size: 60px;
    margin: 10px;
    font-family: monospace;
}

.p2{
    background-color: white;
    /* border: solid 2px red; */
    margin: 20px;
    width: 1000px;
    height: 200px;

    /* Animação */
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2.5s both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2.5s both;
}

.p2_text{
    background-color: white;
    color: #3e3e3e;
    font-size: 70px;
    margin: 10px;
    font-family: monospace;
}

.p3{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    /* background-color: white; */
    /* border: solid 2px red; */
    margin: 20px;
}

.img1{
    width: 200px;
    margin-right: 40px;
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 4s both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 4s both;
}

.p3_boas_vindas{
    display: flex;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 200px;
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
}

.p3_text{
    margin: 20px;
    background-color: white;
    color: #3e3e3e;
    font-size: 40px;
    font-family: monospace;
    
}


.p3_continuar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  background-color: black;
  color: #3e3e3e;
  font-size: 40px;
  height: 100px;
  font-family: monospace;
  transition: 1s;
}

.p3_continuar:hover{
  transition: 1s;
  -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.redirect{
    text-decoration: none;
    margin: 10px;
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: monospace;
}